/.bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/db/*.sqlite3
/db/*.sqlite3-*
/config/master.key
/.env
/node_modules
/yarn-error.log
.byebug_history
